@import "../../../assets/sass-variables/_colors";

.project-view {
  .section-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .profile-view-header-title {
    color: $green-dark;
    font-weight: bold;
    margin-bottom: 0;
  }

  .profile-view-info-table {
    width: 100%;
    height: 100%;
    max-width: 100%;
    -webkit-box-shadow: rgba(46, 89, 101, 0.5) 0px 0px 5px;
    box-shadow: rgba(46, 89, 101, 0.5) 0px 0px 5px;
    border-radius: 5px;
    margin-bottom: 0;

    td {
      vertical-align: initial;
      padding: 0.4rem;
      border-top: none;

      &:first-child {
        padding-left: 5%;
        color: $green-dark;
        font-weight: bold;
      }
    }
  }
}