@import "../../assets/sass-variables/_colors";

.forms-view {
  nav.forms-nav {
    margin-bottom: 20px;
    text-align: right;
    position: relative;
    ul {
      margin: 0;
      padding: 0;
      display: inline-block;
      li {
        display: inline-block;
        .forms-nav-link.nav-bn {
          color: #fff;
          border: 0px solid transparent;
          background-color: $green-prequal;
          border: 1px solid $green-dark;
          padding: 10px 25px;
          margin-right: 0;
          margin-left: 20px;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 13px;
          cursor: pointer;
          &:before {
            margin-right: 10px;
            font-weight: 100;
          }

          &.active {
            background: transparent;
            border: 1px solid $green-dark;
            color: $green-dark;
            box-shadow: 0 0 10px 0px $grey-selected-cta;
            &:before {
              color: $green-dark;
            }
          }
        }
      }
    }

    .hide-popover {
      display: none;
    }
  }

  section.forms-view-header {
    margin-bottom: 23px;
  }
}