.coverage-types-settings-list {
  .coverage-types-list-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
}